{% extends '@base/page.html.twig' %}

{% block css %}
    <link href="{{ asset('css/login.css') }}" rel="stylesheet">
{% endblock %}

{% block header %}
<div class="login-page-logo">
    <p class="logo">
        {% if app.lang == "ch" or app.lang == "sc" %}
            <img src="{{ asset('images/dafabet_logo_chinese.png') }}" data-src="{{ asset('images/dafabet_logo_chinese.png') }}" alt="Dafabet">
        {% else %}
            <img src="{{ asset('images/dafabet_logo.png') }}" data-src="{{ asset('images/dafabet_logo.png') }}" alt="Dafabet">
        {% endif %}
    </p>
</div>
{% endblock header %}

{% block navbar %}
{% endblock navbar %}

{% block annoucement %}
{% endblock annoucement %}

{% block announcementLightbox %}
{% endblock announcementLightbox %}

{% block pushNotificationLightbox %}
{% endblock pushNotificationLightbox %}

{% block body %}
    <div class="login-page">
        {% if header %}
            <div id="loginForm">
            {{ form_start(header.login_form, {'attr': {'class': 'login-form mt-10 mb-0', 'id': 'login-form'}}) }}
                <div class="loginform-textfield-wrapper">

                {% set username = header.login.username_placeholder|default('Username') %}
                {% set password = header.login.password_placeholder|default('Password') %}
                
                {% if header.login.login_page_blurb %}
                    <p class="login-blurb">{{ header.login.login_page_blurb }}</p>
                {% endif %}

                <span class="username-field-wrapper">
                    <label class="ie8_username_placeholder hidden">{{ username }}</label>
                    <span class="username-icon lazy-load" data-src="{{ asset('images/sprite.png') }}"></span>
                    {{ form_widget(header.login_form.username, {'attr': {'class': 'field', 'placeholder': username }}) }}
                </span>
                <span class="password-field-wrapper">
                    <label class="ie8_password_placeholder hidden">{{ password }}</label>
                    <span class="password-icon lazy-load" data-src="{{ asset('images/sprite.png') }}"></span>
                    {{ form_widget(header.login_form.password, {'attr': {'class': 'field', 'placeholder': password }}) }}
                </span>
                    {% if app.session.hasFlash('login.error') %}
                        <div class="login-error">
                            {{ app.session.getFlash('login.error') }}
                        </div>
                    {% endif %}
              </div>

              <div class="loginform-button-wrapper">
                {{ form_widget(header.login_form.submit, {'attr': {'class': 'btn btn-gray btn-block', 'value': 'Login'}, "label": header.login.login_bottom_label|default('Submit') }) }}
                <hr>
                <a data-popup="true" 
                   data-popup-position="center" 
                   data-popup-width="820" 
                   data-popup-height="810" 
                   href={{ url(header.login_issue_link) }} 
                   class="btn-links">{{ header.login_issue_text }}</a>
                <div class="login-form-page-blurb mb-20">{{ header.login.lightbox_blurb|default('Not yet a Dafabet member?') }}</div>
                <a href={{ url(header.registration_link) }} class="btn btn-yellow join-now btn-block">{{ header.join_now_text }}</a>
              </div>

            {{ form_end(header.login_form) }}
            </div>
        {% endif %}
        <a href="#" class="modal-close modal-close-button lazy-load" data-src="{{ asset('images/sprite.png') }}"></a>
    </div>
{% endblock body %}

{% block footer %}
{% endblock footer %}

{% block script %}
    <script src="{{ asset('js/login.bundle.js') }}"></script>
{% endblock %}
