{% if footer.partners is not empty %}
    <div class="partners-logo mb-mobile-48">
        {% for item in footer.partners %}
            {% if item.raw_and_image and item.field_res_partner_desktop_logo[0].url %}
                {{ item.raw|raw }}
                <picture>
                    <source srcset="{{ asset(item.field_res_partner_desktop_logo[0].url) }}" media="(min-width: 1024px)">
                    {% if item.field_res_partner_tablet_logo[0].url is not empty %}
                        <source srcset="{{ asset(item.field_res_partner_tablet_logo[0].url) }}" media="(min-width: 768px)">
                    {% endif %}
                    {% if item.field_res_partner_mobile_logo[0].url is not empty %}
                        <source srcset="{{ asset(item.field_res_partner_mobile_logo[0].url) }}" media="(max-width: 767px)">
                    {% endif %}
                    <img
                        alt="{{ item.field_partner_alternative_text[0].value }}"
                        class="lazy-load hidden-mobile partners-logo-{{item.field_id[0].value}}"
                        src="{{ asset('images/default_image.png') }}"
                        data-src="{{ asset(item.field_res_partner_desktop_logo[0].url) }}"
                    >
                </picture>
            {% elseif item.field_id[0].value == 'curacao' and footer.curacao.gcb_feature_flag %}
                    <div id="curacao-container" class="hidden">
                        <a href="#" target="_blank"><img src="{{ footer.curacao.gcb_image_url }}" width="70" height="40"/></a>
                    </div>
            {% elseif item.raw %}
                {{ item.raw|raw }}
            {% elseif item.field_res_partner_desktop_logo[0].url %}
                <picture>
                    <source srcset="{{ asset(item.field_res_partner_desktop_logo[0].url) }}" media="(min-width: 1024px)">
                    {% if item.field_res_partner_tablet_logo[0].url is not empty %}
                        <source srcset="{{ asset(item.field_res_partner_tablet_logo[0].url) }}" media="(min-width: 768px)">
                    {% endif %}
                    {% if item.field_res_partner_mobile_logo[0].url is not empty %}
                        <source srcset="{{ asset(item.field_res_partner_mobile_logo[0].url) }}" media="(max-width: 767px)">
                    {% endif %}
                    <img
                        alt="{{ item.field_partner_alternative_text[0].value }}"
                        src="{{ asset('images/default_image.png') }}"
                        data-src="{{ asset(item.field_res_partner_desktop_logo[0].url) }}"
                    >
                </picture>
            {% endif %}
        {% endfor %}
    </div>
{% endif %}
