<section class="col-4 text-center">
    {% if footer.socialmedia is not empty %}
        {% if footer.social_media_title is not empty %}
        <h4 class="mb-10">{{footer.social_media_title}}</h4>
        {% endif %}
        <p class="mb-50">
            {% for socialitem in footer.socialmedia  %}
                <a
                    href="{{ url(socialitem.field_socialmedia_cmi_links[0].value)}}"
                    class="icon-{{socialitem.field_socialmedia_cmi_link_class[0].value}} lazy-load"
                    data-src="{{ asset('images/sprite.png') }}" target="{{ socialitem.field_socialmedia_cmi_linktarget[0].value }}"
                >
                    {{socialitem.field_socialmedia_cmi_link_class[0].value}}
                </a>
            {% endfor %}
        </p>
    {% endif %}

    {% if footer.partners is not empty %}
        <div class="partners-logo">
            {% for item in footer.partners %}
                {% if item.raw_and_image and item.field_logo[0].url %}
                    {{ item.raw|raw }}
                    <img 
                        alt="{{ item.field_logo[0].alt }}"
                        class="lazy-load ml-5 mr-5 partners-logo-{{item.field_id[0].value}}"
                        src="{{ asset('images/default_image.png') }}"
                        data-src="{{ asset(item.field_logo[0].url) }}"
                    >
                {% elseif item.raw %}
                    {{ item.raw|raw }}
                {% elseif item.field_logo[0].url %}
                    <img 
                        alt="{{ item.field_logo[0].alt }}"
                        class="lazy-load ml-5 mr-5"
                        src="{{ asset('images/default_image.png') }}"
                        data-src="{{ asset(item.field_logo[0].url) }}"
                    >
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}
</section>
