<div id="game-ucl-lightbox" class="modal">
    <div class="modal-content">
        <div class="modal-header">{{ opus_ucl.opusucl.opus_unsupported_currencies_title}}</div>
        <div class="modal-body">{{ opus_ucl.opusucl.opus_unsupported_currencies_message.value|raw }}</div>
        <span class="modal-close modal-close-button lazy-load" data-src="{{ asset('images/sprite.png') }}"></span>
        <a class=" modal-close btn btn-yellow" >{{ opus_ucl.opusucl.opus_unsupported_currencies_button }}  </a>
    </div>
</div>
<div id="game-videoracing-fallback-error" class="modal">
    <div class="modal-content">
        <div class="modal-header">{{ opus_ucl.opusucl.opus_fallback_error}}</div>
        <div class="modal-body">{{ opus_ucl.opusucl.opus_game_loader_content.value|raw }}</div>
        <span class="modal-close modal-close-button lazy-load" data-src="{{ asset('images/sprite.png') }}"></span>
        <a class=" modal-close btn btn-yellow" >{{ opus_ucl.opusucl.opus_unsupported_currencies_button }}  </a>
    </div>
</div>
<div id="game-rcl-lightbox" class="modal">
    <div class="modal-content">
        <div class="modal-header">{{ opus_ucl.gameworxrcl.unsupported_country_title}}</div>
        <div class="modal-body">{{ opus_ucl.gameworxrcl.unsupported_country_message.value|raw }}</div>
        <span class="modal-close modal-close-button lazy-load" data-src="{{ asset('images/sprite.png') }}"></span>
        <a class=" modal-close btn btn-yellow" >{{ opus_ucl.gameworxrcl.unsupported_country_button }}  </a>
    </div>
</div>
